<h1>Groups list</h1>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Name (rus)</th>
  </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= group.id %></td>
      <td><%= group.name %></td>
      <td><%= group.name_ru %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Go back', root_path %>
