<h1>Список групп</h1>

<%= link_to 'Назад', root_path %>

<table>

  <tr>
    <th>Name (rus)</th>
  </tr>

  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name_ru, group_categories_path(group) %></td>
    </tr>
  <% end %>

</table>
