h1 Профиль
hr

= render 'profile_products'

javascript:
  $(document).ready(function() {
    $('.remove-favorite').click(function() {
      var productId = this.dataset.id;
      $.ajax({
        url: "#{users_remove_product_path}",
        type: "POST",
        data: {
          product_id: productId
        },
        success: function(jsonResponse) {
          var newUserProductsQuantity = JSON.parse(jsonResponse),
              accountEmail = $('#account-link').html().split(' ')[0];
          $('#account-link').html(accountEmail + ' (' + newUserProductsQuantity + ')');
        }        
      });
    });
  });


