<% @categories.each_slice(4) do |slice| %>
  <div class="row">
    <% slice.each do |category| %>
      <div class="col-lg-3">
        <%= link_to category.name_ru, category_path(category.name) %>
      </div>
    <% end %>
  </div>
  <br>
<% end %>