<h1>Список продуктов</h1>

<% @products.each do |product| %>
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag product.image_url %>
    </div>
    <div class="col-lg-8">
      <%= link_to product.name, product.url %>
    </div>
  </div>
  <br>
<% end %>

<%= paginate @products %>
