<h1>Статистика</h1>
<p>
  Групп: <%= @groups_amount %>
  <br>
  Категорий: <%= @categories_amount %>
  <br>
  Продуктов в продаже: <%= @products_amount %>
  <br>
  Продуктов всего: <%= @products_all %>
  <br>
</p>
