<h1>Статистика</h1>
<br>
<input id="button" type="button" value="Обновить" disabled="disabled" autocomplete="off" onclick="document.getElementById('info').innerHTML='Обновление...'; this.setAttribute('disabled', 'disabled'); ajax();" class="btn btn-primary">
<hr>
<div id="info">Подождите, собирается информация...</div>

<script type="text/javascript">
  function ajax(){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "<%= xhr_stats_path %>", true);
    xhr.onload = function () {
      document.getElementById("info").innerHTML = xhr.responseText;
      document.getElementById("button").removeAttribute("disabled"); 
    };
    xhr.send();
  }
</script>

<script type="text/javascript">
  window.onload = ajax();
</script>

