<h1>Статистика</h1>
<hr>

<script type="text/javascript">
  function ajax(){
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "<%= xhr_stats_path %>", true);
    xhr.onload = function () {
      document.getElementById("info").innerHTML = xhr.responseText;
    };
    xhr.send();
  }
</script>

<script type="text/javascript">
  window.onload = ajax();
</script>

<div id="info">Подождите, собирается информация...</div>
