<h1>Статистика</h1>
<p>
  Групп: <%= @groups %>
  <br>
  Категорий: <%= @categories %>
  <br>
  Продуктов в продаже: <%= "#{@products_stock} (уникальных #{@products_stock_uniq})" %>
  <br>
  Продуктов всего: <%= "#{@products_all} (уникальных #{@products_all_uniq})" %>
  <br>
</p>
